.meter-input {
  width: 50px;
  display: inline-block;
  margin: 0 5px;
}

@font-face {
  font-family: 'Bravura';
  src: url('../fonts/Bravura.eot');
  src: url('../fonts/Bravura.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bravura.svg#bravuraregular') format('svg'),
    url('../fonts/Bravura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bravura {
  font-family: 'Bravura';
}
