
<div class="small-12 columns">
  <h1>your classes</h1>
  <h3>currently enrolled</h3>
  <% if @classrooms.empty? %>
    <%= link_to 'Sign up', classrooms_register_path, class: 'button' %> for a class now.
  <% else %>
    <table>
      <thead>
        <th>Course</th>
      </thead>
      <tbody>
        <% @classrooms.each do |classroom| %>
          <tr>
            <td><%= link_to classroom.course.name, classroom_path(classroom) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
