//"Nameless Chamber" - a music dictation web application.
//"Copyright 2020 Massachusetts Institute of Technology"

//This file is part of "Nameless Chamber"
    
//"Nameless Chamber" is free software: you can redistribute it and/or modify
//it under the terms of the GNU Affero General Public License as published by //the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.

//"Nameless Chamber" is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Affero General Public License for more details.

//You should have received a copy of the GNU Affero General Public License
//along with "Nameless Chamber".  If not, see	<https://www.gnu.org/licenses/>.

//Contact Information: garo@mit.edu 
//Source Code: https://github.com/NamelessChamber/NamelessChamber



<div class="small-12 columns">
  <h1>your classes</h1>
  <h3>currently enrolled</h3>
  <% if @classrooms.empty? %>
    <p>
      <i>no active classes</i>
    </p>
  <% else %>
    <table>
      <thead>
        <th>Course</th>
      </thead>
      <tbody>
        <% @classrooms.each do |classroom| %>
          <tr>
            <td><%= link_to classroom.course.name, classroom_path(classroom) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <h3>available classes</h3>
  <% if @joinable_classrooms.nil? || @joinable_classrooms.empty? %>
    <p>
      <i>no available classes</i>
    </p>
  <% else %>
    <table>
      <thead>
        <th>Course</th>
        <th></th>
      </thead>
      <tbody>
        <% @joinable_classrooms.each do |classroom| %>
          <tr>
            <td><%= classroom.course.name + ": " + classroom.name %></td>
            <td><%= link_to 'Join Class', classroom_register_path(classroom.id), class: 'button'  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
