<div class="small-12 columns">
  <% if @classroom.nil? %>
    <h4>You're not enrolled in this class!</h4>
  <% else %>
    <h1><%= @classroom.course.name %> / <%= @classroom.name %></h1>
    <% unless @classroom_psets.empty? %>
      <h3>Open PSets</h3>
      <table>
          <thead>
          <th>PSet</th>
          <th>Completed</th>
          </thead>
          <tbody>
              <% @classroom_psets.each do |crp| %>
              <tr>
                  <td><%= crp.p_set_name %> </td>
                  <td>
                      <%= (crp.completed.nil? || !crp.completed || (current_user.id != crp.user_id))?
                      link_to('Go to PSet', p_set_rhythm_path(crp.p_set_id)) :
                      'Yes' %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    <% end %>
  <% end %>
</div>
