//"Nameless Chamber" - a music dictation web application.
//"Copyright 2020 Massachusetts Institute of Technology"

//This file is part of "Nameless Chamber"
    
//"Nameless Chamber" is free software: you can redistribute it and/or modify
//it under the terms of the GNU Affero General Public License as published by //the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.

//"Nameless Chamber" is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Affero General Public License for more details.

//You should have received a copy of the GNU Affero General Public License
//along with "Nameless Chamber".  If not, see	<https://www.gnu.org/licenses/>.

//Contact Information: garo@mit.edu 
//Source Code: https://github.com/NamelessChamber/NamelessChamber



<div class="small-12 columns">
  <% if @classroom.nil? %>
    <h4>You're not enrolled in this class!</h4>
  <% else %>
    <h1><%= @classroom.course.name %> / <%= @classroom.name %></h1>
    <% unless @classroom_psets.empty? %>
      <h3>Open PSets</h3>
      <table>
          <thead>
          <th>PSet</th>
          <th>Completed</th>
          </thead>
          <tbody>
              <% @classroom_psets.each do |crp| %>
              <tr>
                  <td><%= crp.p_set_name %> </td>
                  <td>
                      <%= (@student_answers.find_index(crp.p_set_name).nil? )?
                      link_to('Go to PSet', p_set_rhythm_path(crp.p_set_id)) :
                      'Yes' %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    <% end %>
  <% end %>
</div>
