<div class="small-12 columns">
  <h3 class="float-left">classrooms for: <%= @course.name %></h3>
  <%= link_to 'create new classroom', new_admin_course_classroom_path(@course), class: 'button float-right' %>
  <table>
    <thead>
      <th>name</th>
      <th></th>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom| %>
        <tr>
          <td><%= link_to classroom.name, admin_course_classroom_path(@course, classroom) %></td>
          <td>
              <%=  link_to 'Delete Classroom', 
              admin_course_classroom_path(@course, classroom), 
              method: :delete, 
              data: {confirm: "You are about to delete the " + classroom.name + " section of " + @course.name + ". \nPress OK to confirm."} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
