<div class="small-12 columns">
  <% if current_user.nil? %>
    <h1>Welcome to Nameless Chamber!</h1>
  <% else %>
    <h1>Welcome to Nameless Chamber, <%= current_user.firstname %>!</h1>
  <% end %>
  <p>
    Nameless Chamber is a platform for practicing music dictation learning skills.
  </p>
  <p>
    <% if current_user.nil? %>
      <%= link_to 'Sign up', new_user_registration_path %> to get started.
    <% else %>
      <%= link_to 'Check out your classes', classrooms_path %> to get started.
    <% end %>
  </p>
  <% if current_user.admin? %>
    <% if @key %>
      <p> Current Registration Key: <%= @key %> </p>
    <% else %>
      <p> Register Key </p>
    <% end %>
  <% end %>
</div>
