<div class="small-12 columns">
  <% if current_user.nil? %>
    <h1>Welcome to Tuna!</h1>
  <% else %>
    <h1>Welcome to Tuna, <%= current_user.firstname %>!</h1>
  <% end %>
  <p>
    Tuna is a platform for practicing music dictation learning skills.
  </p>
  <p>
    <% if current_user.nil? %>
      <%= link_to 'Sign up', new_user_registration_path %> to get started.
    <% else %>
      <%= link_to 'Check out your classes', classrooms_path %> to get started.
    <% end %>
  </p>
</div>
