
<div class="card small-12 columns">
  <div class="card-section">
    Editing PSet in:
    <i><%= @exercise_category.name %>, <%= @exercise_subcategory.name %></i>
  </div>
  <div id="app-root" class="card-section">
  </div>
</div>
